.Bag-Button{
  background-color:lightgreen;
  border: none;
  padding-top: 5px;
  padding-left: 15px;
  padding-bottom: 5px;
  padding-right: 15px;
  border-radius: 10px;
} 
.Wishlist-Button{
  color:green;
  border: 2px solid black;
  border-radius: 10px;
  padding: 5px 35px;
  text-transform: uppercase;
} 